/* SPDX-License-Identifier: LGPL-2.1-or-later */

.forums-category-grid__card-icon {
	background-color: var(--primary-l4, #c5dbff);
	border-radius: var(--border-radius-sm, 4px);
	color: var(--primary, #0063ce);
}

.forums-category-grid__card-desc {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	margin-bottom: 0;
	overflow: hidden;
}
